@charset "utf-8";

//  Primary button style.
//
// Styleguide Buttons.Primary
.button {
  background-color: pink;
  color: white;
  display: block;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
}
