.kayessess__navigation {
  @extend .padding-medium;
  @extend .padding-wide-left;
  @extend .padding-wide-right;
}

.kayessess__navigation__item {
  display: block;
  float: left;
  margin-right: 20px;
}
