<section class="kayessess__node">
  <div class="kayessess__node__sections">
    <% node.sections.each do |section| %>
      <%= render :partial => "section", :locals => {:section => section} %>
    <% end %>
  </div>

  <% node.children.each do |node| %>
    <%= render :partial => "node", :locals => {:node => node} %>
  <% end %>
</section>
