<!DOCTYPE html>
<html class="kayessess is-example">
<head>
  <title>Styleguide</title>
  <meta charset="utf-8">

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "kayessess", media: "all" %>
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag "kayessess" %>
</body>
</html>
